---
layout: default
title: Research Themes
permalink: /themes
---

<main>
    <!-- Start Breadcrumb Area -->
    <div class="page-area bread-pd">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-title text-center">
                        <h2>{{page.title}}</h2>
                        <div class="bread-come">
                            {% include breadcrumb.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area -->
    <div class="feature-area feature-area-2 fix area-padding {% if  page.home == 4 %} bg-color {% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">

            <h2>Research Themes at the PSH</h2>

            {% include sections/theme-autolist.html %}
   
            </div>
         </div>
      </div>
   </div>
</main>